# Google OAuth Credentialsのパス
GOOGLE_OAUTH_CREDENTIALS="/path/to/gcp-oauth.keys.json"

# Google CalendarのID
GOOGLE_CALENDAR_ID="primary"

# Google Calendarのタイムゾーン
GOOGLE_CALENDAR_TIMEZONE="Asia/Tokyo"

# OpenWeatherAPIのAppID
OPEN_WEATHER_APP_ID="open_weather_app_id"

# SwarmのOAuthトークン
SWARM_OAUTH_TOKEN="swarm_access_token"
