# Google OAuth Credentialsのパス
GOOGLE_OAUTH_CREDENTIALS="/path/to/gcp-oauth.keys.json"

# Google CalendarのID
GOOGLE_CALENDAR_ID="primary"

# Google Calendarのタイムゾーン
GOOGLE_CALENDAR_TIMEZONE="Asia/Tokyo"

# Google Gemini API Key
GOOGLE_GEMINI_API_KEY="google_gemini_api_key"

# Google Gemini の画像生成モデル
GOOGLE_GEMINI_GENERATE_IMAGEMODEL="gemini-3.1-flash-image-preview"

# Google Gemini の画像生成モデルを使用する際のインポートディレクトリ
GOOGLE_GEMINI_GENERATE_IMAGE_IMPORT_DIR="assets/images"

# OpenWeatherAPIのAppID
OPEN_WEATHER_APP_ID="open_weather_app_id"

# SwarmのOAuthトークン
SWARM_OAUTH_TOKEN="swarm_access_token"
