# Google OAuth Credentialsのパス
GOOGLE_OAUTH_CREDENTIALS="/path/to/gcp-oauth.keys.json"

# Google CalendarのID
GOOGLE_CALENDAR_ID="primary"

# Google Calendarのタイムゾーン
GOOGLE_CALENDAR_TIMEZONE="Asia/Tokyo"

# Google Gemini API Key
GOOGLE_GEMINI_API_KEY="google_gemini_api_key"

# Google Gemini の画像生成モデル
GOOGLE_GEMINI_GENERATE_IMAGEMODEL="gemini-3.1-flash-image-preview"

# OpenAI GPT API Key
OPENAI_GPT_API_KEY="openai_gpt_api_key"

# OpenAI GPT の画像生成モデル
OPENAI_GPT_GENERATE_IMAGE_MODEL="gpt-image-2"

# 画像生成モデルを使用する際のインポートディレクトリ
GENERATE_IMAGE_IMPORT_DIR="assets/images"

# Firebaseの設定ファイルのパス
FIREBASE_CONFIG_PATH="/path/to/firebase-config.json"

# LINE Messaging APIのアクセストークン
LINE_ACCESS_TOKEN="line_access_token"

# LINE Messaging APIの送信先ユーザーID
LINE_DESTINATION_USER_ID="line_destination_user_id"

# CloudinaryのCloud Name
CLOUDINARY_CLOUD_NAME="cloudinary_cloud_name"

# CloudinaryのAPI Key
CLOUDINARY_API_KEY="cloudinary_api_key"

# CloudinaryのAPI Secret
CLOUDINARY_API_SECRET="cloudinary_api_secret"

# Cloudinaryの画像のアップロード先フォルダ
CLOUDINARY_IMAGE_ASSET_FOLDER="aoi_daily"

# Cloudinaryの楽曲のアップロード先フォルダ
CLOUDINARY_SONG_ASSET_FOLDER="aoi_weekly"

# MUREKAのAPI Key
MUREKA_API_KEY="mureka_api_key"

# MUREKAのモデル
MUREKA_MODEL="auto"

# MUREKAで使用するボーカルのID
MUREKA_VOCAL_ID=""

# OpenWeatherAPIのAppID
OPEN_WEATHER_APP_ID="open_weather_app_id"

# SwarmのOAuthトークン
SWARM_OAUTH_TOKEN="swarm_access_token"

# Todoist APIのAPI Token
TODOIST_API_TOKEN="todoist_api_token"

# Google Maps APIのAPI Key
GOOGLE_MAPS_API_KEY="google_maps_api_key"
